body {
    color: brown;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 1em;
    border: gray;
    border-radius: 5px;
    margin: 0 auto;
    background-color: aqua;
}

#textsection {
    text-align: left;
    font-size: larger;
    color: darkblue;  
}

#linkmoonapp {
    text-align: right;
}
